<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/aboutdn/">About DN<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutdn/map/">Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutdn/schedule/">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutdn/clubs/">Clubs</a>
            <li class="nav-item">
                <a class="nav-link" href="/aboutdn/sports/">Sports</a>

            </li>
        </ul>
    </div>
</nav>
<div style= "width: 100%; ">

<div class="w3-display-container w3-animate-opacity">
    <img src="https://www.powayusd.com/getattachment/Schools/HS/DNHS/Calendars/Bell-Schedule/Screen-Shot-2020-08-27-at-10-39-53-PM.png.aspx?width=800&height=901" alt="boat" style="width:100%;">
    <div class="row" style="padding: 5%; padding-left: 30%; padding-bottom: 5%;">
        <div class="col-15" >
            <h1>Schedule of Del Norte High School</h1>
        </div>
    </div>

    <div class="row" style="padding: 10%; padding-top: 0%; padding-bottom: 5%;">  <div  style="text-align: left;">
        <h2>This is the current schedule of Del Norte High School as it is currently taking place in a virtual setting.</h2>

</div>

<style>
        html, body {
            margin: 0;
            height: 100%;
            color: black;
        }
</style>