<!DOCTYPE html>
<html lang="en">
{% extends "aboutus.html" %}
<title> Mustafa's Page </title>


{% block individual %}
<iframe src="https://drive.google.com/file/d/1GH9o8aSP26PNsyeehXO8PlpddSc2l6Ym/preview" width="640" height="480"></iframe>
<h2>{{Mustafa Sharaf}}</h2>
<h4>{{Grade: 11}}</h4>
<h4>{{I'm a student at Del Norte High School. I'm 16 years old. My favorite sports are basketball and swimming. I took this class so I could become knowledgeable when it comes to code, just like my dad.}}</h4>
<h4>{{I've been organizing and I've coded on Intellij multiple times for the README.html, this html, and a little bit on aboutdelnorte.}}</h4>
<h3>My One Minute Video</h3>
<iframe src="https://drive.google.com/file/d/1oKw30ybWzpcYXdVmS3hnqARyZDG-_0ch/preview" width="640" height="480"></iframe>
{% endblock %}
</html>